body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin: 0%;
    background-color: #7251B5;
}


h1, h2, h3 {
    margin-bottom: 0%;
}


#company-name {
    font-size: 1.5rem;
}


header {
    background-color: #000;
    color: #DEC9E9;
}

footer {
    background-color: #000;
    color: #DEC9E9;
}


.s {
    max-width: 940px;
    margin: 0;
    padding: 2em;
}


ul li {
    padding: 0;
    list-style: none;
}

ol li {
    padding: 0;
    list-style: none;
}